{% extends "admins/base.html" %}

{% block content %}
{% load static %}
<div class="mapouter">
    <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q={{ map_coordinates }}&amp;t=&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
            href="https://formatjson.org/">format json</a>
    </div>
    <style>
        .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 90vh;

        }

        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            box-sizing: border-box;
            padding:5vh 2vh;
            width: 100%;
            height: 90vh;
        }

        .gmap_iframe {
            height: 90vh;
        }
    </style>
</div>
{% endblock %}