{% load static %}
<style>
    body {
        background: linear-gradient(to right, #6666ff 15%, #cc33ff 64%);
    }

    .table {
        background-color: white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-header">
                    <h4>Dustbin Details
                        <a id="new_smartbin" href="/add_smartbin/" class="btn btn-primary float-end">ADD NEW</a>
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Dustbin Number</th>
                                <th>Location</th>
                                <th>Under Employee</th>
                                <th>Dustbin Height(cm)</th>
                                <th>Dry Filled(%)</th>
                                <th>Wet Filled(%)</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for smartbin in smartbins %}
                            <tr>
                                <td>
                                    {{ smartbin.bin_number }}
                                </td>
                                <td>
                                    {{ smartbin.location }}
                                </td>
                                <td>
                                    {{ smartbin.name }}
                                </td>
                                <td>
                                    {{ smartbin.height }}
                                </td>
                                <td>
                                    {{ smartbin.dry_filled }}
                                </td>
                                <td>
                                    {{ smartbin.wet_filled }}
                                </td>
                                <td>
                                    <a href="/admin_edit_smartbin/{{ smartbin.id }}/"
                                        class="edit_smartbin btn btn-success">Edit</a>
                                </td>
                                <td>
                                    <a href="/adminRemoveSmartbin/{{ smartbin.id }}/"
                                        class="smartbin_remove btn btn-danger">Remove</a>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/admin_smartbin_jquery.js'%}"></script>